In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../saved F(Drug-Disease).csv", header=None)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,899,900,901,902,903,904,905,906,907,908
0,DB00007,D102100,0,1.00000,0.53282,0.86400,0.66606,0.55278,0.55172,0.32159,...,0.00000,0.064828,0.17917,0.017399,0.099807,0.16910,0.00000,0.00000,0.00000,0.0
1,DB00010,D102100,0,0.53282,1.00000,0.49826,0.66535,0.65618,0.65471,0.38220,...,0.00000,0.064828,0.17917,0.017399,0.099807,0.16910,0.00000,0.00000,0.00000,0.0
2,DB00014,D102100,0,0.86400,0.49826,1.00000,0.64000,0.51910,0.52083,0.29070,...,0.00000,0.064828,0.17917,0.017399,0.099807,0.16910,0.00000,0.00000,0.00000,0.0
3,DB00017,D102100,0,0.66606,0.66535,0.64000,1.00000,0.68824,0.69020,0.30924,...,0.00000,0.064828,0.17917,0.017399,0.099807,0.16910,0.00000,0.00000,0.00000,0.0
4,DB00035,D102100,0,0.55278,0.65618,0.51910,0.68824,1.00000,0.99735,0.31796,...,0.00000,0.064828,0.17917,0.017399,0.099807,0.16910,0.00000,0.00000,0.00000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185604,DB04844,D608622,0,0.32620,0.37143,0.31280,0.34233,0.35236,0.35167,0.20707,...,0.17204,0.182450,0.00000,0.076806,0.031694,0.11607,0.14199,0.27223,0.49842,1.0
185605,DB04861,D608622,1,0.27509,0.30638,0.28109,0.30851,0.28630,0.28571,0.24629,...,0.17204,0.182450,0.00000,0.076806,0.031694,0.11607,0.14199,0.27223,0.49842,1.0
185606,DB05259,D608622,0,0.22422,0.29155,0.19531,0.22041,0.25385,0.25320,0.17155,...,0.17204,0.182450,0.00000,0.076806,0.031694,0.11607,0.14199,0.27223,0.49842,1.0
185607,DB06285,D608622,0,0.75047,0.67184,0.69898,0.75267,0.52348,0.52257,0.29264,...,0.17204,0.182450,0.00000,0.076806,0.031694,0.11607,0.14199,0.27223,0.49842,1.0
185608,DB06287,D608622,0,0.35452,0.32973,0.39048,0.35535,0.30957,0.30903,0.30456,...,0.17204,0.182450,0.00000,0.076806,0.031694,0.11607,0.14199,0.27223,0.49842,1.0

In [4]:
df[2]

0         0
1         0
2         0
3         0
4         0
         ..
185604    0
185605    1
185606    0
185607    0
185608    0
Name: 2, Length: 185609, dtype: int64

In [15]:
# # OverSampling
# from imblearn.over_sampling import RandomOverSampler


# Dividing the data into X and Y
X=df.drop(2,axis=1)
y=df[2]

# oversample = RandomOverSampler(sampling_strategy='minority')
# X_oversample, y_oversample = oversample.fit_resample(X, y)

In [16]:
# y_oversample.value_counts()

In [17]:
# df=pd.concat([X_oversample, y_oversample ], axis=1)
# df.shape

In [18]:
# df.to_csv('../F-Drug-DiseaseRandomOverSampler.csv', index=False)
# del df

In [19]:
#smote
from imblearn.over_sampling import SMOTE
smote_sampler = SMOTE(random_state=42)
X_smote , y_smote = smote_sampler.fit_resample(X.iloc[:,2:],y)
X_smote.shape

(367352, 906)

In [20]:
y_smote.value_counts()

0    183676
1    183676
Name: 2, dtype: int64

In [21]:
X_smote= pd.DataFrame(X_smote)
y_smote= pd.DataFrame(y_smote)
y_smote.value_counts()

2
0    183676
1    183676
dtype: int64

In [22]:
dfsmote=pd.concat([X_smote, y_smote], axis=1)
dfsmote.to_csv('../Actual Data_BalanceData_SMOTE.csv', index=False)
del dfsmote

In [24]:
# ADASYN
from imblearn.over_sampling import ADASYN
X_adasyn, y_adasyn = ADASYN().fit_resample(X.iloc[:,2:], y)
del X
X_adasyn= pd.DataFrame(X_adasyn)
y_adasyn= pd.DataFrame(y_adasyn)  
y_adasyn.value_counts()

2
1    183845
0    183676
dtype: int64

In [26]:
X_adasyn.shape

(367521, 906)

In [27]:
dfadasyn=pd.concat([X_adasyn, y_adasyn], axis=1)

In [28]:
dfadasyn.to_csv('../Actual Data_BalanceData_Adasyn.csv', index=False)