In [1]:
import numpy as np
import pandas as pd

In [26]:
# excel_file='Rivise data/DDI_triple_2.csv'
# drug=pd.read_csv(excel_file, header=None)
# df='data/drug_name_568.txt'
# DF=pd.read_csv(df, header=None)
d='data/drug-disease-datasets/C-DrugSim.txt'
Drugsim=pd.read_csv(d, header=None, sep = '\t')
# print(Drugsim.head())

Diseasesim = pd.read_csv('data/drug-disease-datasets/C-DiseaseSim.txt',header=None, sep = '\t')
# print(diseasesim.head())

# Drugs_disease_interaction = pd.read_csv('C-drug-disease interactions.txt',sep = '\t', header=None)
# # print(Drugs_disease_interaction.head())
663+409

1072

In [27]:
# ### Deleting missing Drugs
# druglist=[]
# mismatch=[]

# for j in range(len(D)):
#     druglist.insert(j,D.loc[j][0])
# for i in range(len(DF.loc[0])):
#     if not DF.loc[i][1] in (druglist):
#             print(i,DF.loc[i][1])
#             mismatch.insert(i,DF.loc[i][1])
#             DF=DF.drop([i])
#             drug=drug.drop([i],axis=0)
#             drug=drug.drop([i],axis=1)

In [28]:
# Drugs_disease_interaction.iloc[1:,0].to_csv("saved Diseasename.csv",index=False)
Diseasename = pd.read_csv("saved Diseasename.csv", header=0)

# Drugs_disease_interaction.iloc[0,1:].to_csv("saved Drugname.csv",index=False)
Drugname = pd.read_csv("saved Drugname.csv", header=0)

# Drugs_disease_interaction.iloc[1:,1:].to_csv('saved drug.csv',index=False)
drug = pd.read_csv('saved drug.csv', header=0)

Drugsim.insert(0, "-1", Drugname.values)
Diseasesim.insert(0, "-1", Diseasename.values)



# print(Drugname.shape)
# print(Diseasename.shape)
# print(drug.head())

In [29]:
drug.shape

(409, 663)

In [30]:
finalmatrix=[]
for i in range(len(Diseasename.iloc[:,0])):
    for j in range(len(Drugname.iloc[:,0])):
        result=[Diseasename.loc[i][0], Drugname.loc[j][0],drug.loc[i][j]]
#         print(result)
        finalmatrix.append(result)

In [31]:
len(finalmatrix)

271167

In [32]:
del drug

In [33]:
F = pd.DataFrame(finalmatrix)
F.to_csv("saved F_pairs.csv",index=False)
del finalmatrix

In [34]:
F = pd.read_csv("saved F_pairs.csv")
F

              0        1  2
0       D102100  DB00014  0
1       D102100  DB00035  0
2       D102100  DB00091  0
3       D102100  DB00104  0
4       D102100  DB00115  0
...         ...      ... ..
271162  D608907  DB08835  0
271163  D608907  DB08896  0
271164  D608907  DB08901  0
271165  D608907  DB08906  0
271166  D608907  DB08907  0

[271167 rows x 3 columns]

In [35]:
# r, c = F.shape
# print(r,c)
# print(F.iloc[0,:])

In [36]:
# j = 0
# for i in range(0, r, len(DF.iloc[:,0])):
#     try:
#         F = F.drop([i + j])
# #         print(i)
#     except:
#         1
# #         print(str(i)+ " can't be droped")
#     j += 1
# F.shape

In [37]:
r, c = F.shape
print(r,c)
# list(range(0, r, len(DF.iloc[:,0])))
F.iloc[0,:]

271167 3

0    D102100
1    DB00014
2          0
Name: 0, dtype: object

In [38]:
print(Drugsim.shape)
Diseasesim.shape

(663, 664)

(409, 410)

In [39]:
Drugsim

,-1,0,1,2,3,4,5,6,7,8,...,653,654,655,656,657,658,659,660,661,662
0,DB00014,1.00000,0.44574,0.25000,0.52140,0.27515,0.05046,0.17621,0.12230,0.18663,...,0.16549,0.20553,0.12639,0.21212,0.31873,0.26407,0.20000,0.21779,0.18076,0.21341
1,DB00035,0.44574,1.00000,0.28249,0.63184,0.20779,0.05732,0.28302,0.08734,0.12733,...,0.11667,0.21608,0.11111,0.25847,0.35354,0.37126,0.17814,0.15172,0.17931,0.20504
2,DB00091,0.25000,0.28249,1.00000,0.33880,0.14734,0.15278,0.30108,0.17730,0.10236,...,0.08824,0.15217,0.22656,0.15676,0.26712,0.41748,0.10053,0.11062,0.16143,0.10526
3,DB00104,0.52140,0.63184,0.33880,1.00000,0.24138,0.06358,0.18717,0.12185,0.15455,...,0.16260,0.17647,0.14159,0.20690,0.38835,0.30000,0.17939,0.20137,0.21212,0.22569
4,DB00115,0.27515,0.20779,0.14734,0.24138,1.00000,0.02730,0.09976,0.14516,0.42093,...,0.14922,0.11617,0.16468,0.18478,0.19169,0.15777,0.15914,0.20497,0.19433,0.20455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,DB08835,0.26407,0.37126,0.41748,0.30000,0.15777,0.14865,0.38202,0.15068,0.13710,...,0.10000,0.11806,0.19549,0.14894,0.28966,1.00000,0.08808,0.09524,0.14978,0.12389
659,DB08896,0.20000,0.17814,0.10053,0.17939,0.15914,0.06522,0.10778,0.07981,0.12052,...,0.22660,0.18617,0.06250,0.25225,0.15278,0.08808,1.00000,0.32353,0.14134,0.14909
660,DB08901,0.21779,0.15172,0.11062,0.20137,0.20497,0.04396,0.07042,0.07480,0.14159,...,0.21667,0.10833,0.04762,0.18889,0.12741,0.09524,0.32353,1.00000,0.11927,0.12893
661,DB08906,0.18076,0.17931,0.16143,0.21212,0.19433,0.03125,0.12919,0.21645,0.15160,...,0.11524,0.09600,0.37374,0.15035,0.25000,0.14978,0.14134,0.11927,1.00000,0.26117
662,DB08907,0.21341,0.20504,0.10526,0.22569,0.20455,0.03804,0.12255,0.18615,0.20497,...,0.10150,0.14592,0.23256,0.16245,0.29646,0.12389,0.14909,0.12893,0.26117,1.00000

In [40]:
409 *663

271167

In [41]:
# F =F.iloc[:,:3]
# F

In [42]:
# print(len(Drugsim.iloc[0,:]),len(Diseasesim.iloc[0,:]))

In [43]:
for k in range(len(Drugsim.iloc[0,:])-1):
    F[k + 3] = F['1'].map(Drugsim.set_index('-1')[k])
    k += 1
print(F.shape)
# F

/tmp/ipykernel_9251/680173568.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  F[k + 3] = F['1'].map(Drugsim.set_index('-1')[k])

(271167, 666)

In [44]:
for k in range(len(Diseasesim.iloc[0,:])-1):
    F[k + len(Drugsim.iloc[0,:]) + 3] = F['0'].map(Diseasesim.set_index('-1')[k])
    k += 1

/tmp/ipykernel_9251/3706317571.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  F[k + len(Drugsim.iloc[0,:]) + 3] = F['0'].map(Diseasesim.set_index('-1')[k])

In [45]:
print(F.shape)
F

(271167, 1075)

,0,1,2,3,4,5,6,7,8,9,...,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075
0,D102100,DB00014,0,1.00000,0.44574,0.25000,0.52140,0.27515,0.05046,0.17621,...,0.030720,0.143010,0.0,0.0,0.0,0.00000,0.00000,0.094405,0.12665,0.0
1,D102100,DB00035,0,0.44574,1.00000,0.28249,0.63184,0.20779,0.05732,0.28302,...,0.030720,0.143010,0.0,0.0,0.0,0.00000,0.00000,0.094405,0.12665,0.0
2,D102100,DB00091,0,0.25000,0.28249,1.00000,0.33880,0.14734,0.15278,0.30108,...,0.030720,0.143010,0.0,0.0,0.0,0.00000,0.00000,0.094405,0.12665,0.0
3,D102100,DB00104,0,0.52140,0.63184,0.33880,1.00000,0.24138,0.06358,0.18717,...,0.030720,0.143010,0.0,0.0,0.0,0.00000,0.00000,0.094405,0.12665,0.0
4,D102100,DB00115,0,0.27515,0.20779,0.14734,0.24138,1.00000,0.02730,0.09976,...,0.030720,0.143010,0.0,0.0,0.0,0.00000,0.00000,0.094405,0.12665,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271162,D608907,DB08835,0,0.26407,0.37126,0.41748,0.30000,0.15777,0.14865,0.38202,...,0.028113,0.039185,0.0,0.0,0.0,0.23197,0.21154,0.158720,0.00000,1.0
271163,D608907,DB08896,0,0.20000,0.17814,0.10053,0.17939,0.15914,0.06522,0.10778,...,0.028113,0.039185,0.0,0.0,0.0,0.23197,0.21154,0.158720,0.00000,1.0
271164,D608907,DB08901,0,0.21779,0.15172,0.11062,0.20137,0.20497,0.04396,0.07042,...,0.028113,0.039185,0.0,0.0,0.0,0.23197,0.21154,0.158720,0.00000,1.0
271165,D608907,DB08906,0,0.18076,0.17931,0.16143,0.21212,0.19433,0.03125,0.12919,...,0.028113,0.039185,0.0,0.0,0.0,0.23197,0.21154,0.158720,0.00000,1.0
271166,D608907,DB08907,0,0.21341,0.20504,0.10526,0.22569,0.20455,0.03804,0.12255,...,0.028113,0.039185,0.0,0.0,0.0,0.23197,0.21154,0.158720,0.00000,1.0

In [46]:
del Diseasename
del Drugsim
del Drugname
del Diseasesim

In [47]:
F.shape

(271167, 1075)

In [ ]:
F.to_csv("../saved F(Drug-Disease).csv",index=False)

In [ ]:
del F

In [ ]:
1072/16