In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from collections import Counter

In [2]:
df = pd.read_csv('../saved F(Drug-Disease).csv', header=None)

In [3]:
df.iloc[:,2].value_counts()

0    183676
1      1933
Name: 2, dtype: int64

In [4]:
classOne = shuffle(df[df[2]==1])
classZero = shuffle(df[df[2]==0])
del df
testClassOne = classOne.iloc[:int(len(classOne)/10), :]
testClassZero = classZero.iloc[:int(len(classZero)/10), :]
testData = shuffle(pd.concat([testClassOne, testClassZero] , ignore_index=True))
del testClassZero
testData.to_csv('../Drug_disease_testData.csv', index=False)
del testData

In [5]:
trainClassOne = classOne.iloc[int(len(classOne)/10):, :]
trainClassZero = classZero.iloc[int(len(classZero)/10):, :]
del classOne
del classZero
trainData = shuffle(pd.concat([trainClassOne, trainClassZero] , ignore_index=True))
del trainClassZero

In [6]:
trainData.to_csv('../Drug_disease_trainData.csv', index=False)
print(trainData.shape)
del trainData

(167049, 909)

In [7]:
# Dividing the data into X and Y
df = pd.read_csv('../Drug_disease_trainData.csv')
print(df.shape)
X_train = df.drop(['2'], axis=1)
y_train = df['2']
del df

(167049, 909)

In [8]:
# y_train

In [9]:
y_train.value_counts()

0    165309
1      1740
Name: 2, dtype: int64

In [10]:
# OverSampling
from imblearn.over_sampling import RandomOverSampler 

oversample = RandomOverSampler(sampling_strategy='minority')
X_oversample, y_oversample = oversample.fit_resample(X_train.values[:,2:], y_train)
print(X_oversample.shape)

/home/aminuninnova/.local/lib/python3.8/site-packages/sklearn/externals/six.py:28: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  warnings.warn("The module is deprecated in version 0.21 and will be removed "
/home/aminuninnova/.local/lib/python3.8/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/home/aminuninnova/.local/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

(330618, 906)

In [11]:
Counter(y_oversample)

Counter({0: 165309, 1: 165309})

In [12]:
# X_oversample = pd.DataFrame(X_oversample)
# y_oversample = pd.DataFrame(y_oversample)

In [12]:
df = pd.DataFrame(X_oversample)
df['y'] = y_oversample
df.shape

(330618, 907)

In [13]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,897,898,899,900,901,902,903,904,905,y
0,0.21224,0.22535,0.20879,0.21429,0.22045,0.21995,0.21481,0.22678,0.17188,0.19529,...,0.016679,0.0,0.21434,0.042681,0.21672,0.2226,0.061238,0.11721,0.10689,0
1,0.18447,0.19556,0.17976,0.19279,0.19957,0.19913,0.1505,0.18458,0.15339,0.16733,...,0.031154,0.0,0.0,0.039694,0.0,0.0,0.11437,0.073066,0.0,0
2,0.1966,0.18856,0.20725,0.19338,0.19008,0.18969,0.19935,0.1996,0.15,0.21727,...,0.083906,0.09446,0.23391,0.15905,0.3135,0.13854,0.039971,0.095524,0.065253,0
3,0.14088,0.16898,0.12224,0.12577,0.16223,0.1618,0.1122,0.14988,0.095618,0.065642,...,0.12326,0.06296,0.19013,0.16656,0.18835,0.18332,0.10112,0.083167,0.15773,0
4,0.26667,0.26453,0.26898,0.26678,0.25926,0.25875,0.19399,0.26071,0.16908,0.25744,...,0.099855,0.0,0.061293,0.0,0.0,0.0,0.0,0.0,0.0,0

In [14]:
df.to_csv('../F_Drug-Disease_oversampling.csv', index=False)
del df

In [15]:
#smote
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import make_pipeline

smote_sampler = SMOTE(n_jobs=-1)
# smote_pipeline = make_pipeline(RandomOverSampler(), SMOTE(n_jobs=-1))
print(smote_sampler.get_params())
X_smote , y_smote = smote_sampler.fit_resample(X_train.values[:,2:], y_train)
X_smote.shape

{'k_neighbors': 5, 'kind': 'deprecated', 'm_neighbors': 'deprecated', 'n_jobs': -1, 'out_step': 'deprecated', 'random_state': None, 'ratio': None, 'sampling_strategy': 'auto', 'svm_estimator': 'deprecated'}

/home/aminuninnova/.local/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

(330618, 906)

In [16]:
Counter(y_smote)

Counter({0: 165309, 1: 165309})

In [18]:
# X_smote = pd.DataFrame(X_smote)
# y_smote = pd.DataFrame(y_smote)

In [18]:
dfsmote = pd.DataFrame(X_smote)
dfsmote['y'] = y_smote
dfsmote.head()

,0,1,2,3,4,5,6,7,8,9,...,897,898,899,900,901,902,903,904,905,y
0,0.21224,0.22535,0.20879,0.21429,0.22045,0.21995,0.21481,0.22678,0.171880,0.195290,...,0.016679,0.00000,0.214340,0.042681,0.21672,0.22260,0.061238,0.117210,0.106890,0
1,0.18447,0.19556,0.17976,0.19279,0.19957,0.19913,0.15050,0.18458,0.153390,0.167330,...,0.031154,0.00000,0.000000,0.039694,0.00000,0.00000,0.114370,0.073066,0.000000,0
2,0.19660,0.18856,0.20725,0.19338,0.19008,0.18969,0.19935,0.19960,0.150000,0.217270,...,0.083906,0.09446,0.233910,0.159050,0.31350,0.13854,0.039971,0.095524,0.065253,0
3,0.14088,0.16898,0.12224,0.12577,0.16223,0.16180,0.11220,0.14988,0.095618,0.065642,...,0.123260,0.06296,0.190130,0.166560,0.18835,0.18332,0.101120,0.083167,0.157730,0
4,0.26667,0.26453,0.26898,0.26678,0.25926,0.25875,0.19399,0.26071,0.169080,0.257440,...,0.099855,0.00000,0.061293,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0

In [19]:
print(dfsmote.shape)
del X_smote, y_smote

(330618, 907)

In [20]:
dfsmote.to_csv('../F_Drug-Disease_SMOTE.csv', index=False)
del dfsmote

In [21]:
# ADASYN
from imblearn.over_sampling import ADASYN
X_adasyn, y_adasyn = ADASYN().fit_resample(X_train.values[:,2:], y_train)

# X_adasyn = pd.DataFrame(X_adasyn)
# y_adasyn = pd.DataFrame(y_adasyn)
Counter(y_adasyn)

/home/aminuninnova/.local/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

Counter({0: 165309, 1: 165060})

In [22]:
X_adasyn.shape

(330369, 906)

In [23]:
dfadasyn = pd.DataFrame(X_adasyn)
dfadasyn['y'] = y_adasyn
dfadasyn.head()

,0,1,2,3,4,5,6,7,8,9,...,897,898,899,900,901,902,903,904,905,y
0,0.21224,0.22535,0.20879,0.21429,0.22045,0.21995,0.21481,0.22678,0.171880,0.195290,...,0.016679,0.00000,0.214340,0.042681,0.21672,0.22260,0.061238,0.117210,0.106890,0
1,0.18447,0.19556,0.17976,0.19279,0.19957,0.19913,0.15050,0.18458,0.153390,0.167330,...,0.031154,0.00000,0.000000,0.039694,0.00000,0.00000,0.114370,0.073066,0.000000,0
2,0.19660,0.18856,0.20725,0.19338,0.19008,0.18969,0.19935,0.19960,0.150000,0.217270,...,0.083906,0.09446,0.233910,0.159050,0.31350,0.13854,0.039971,0.095524,0.065253,0
3,0.14088,0.16898,0.12224,0.12577,0.16223,0.16180,0.11220,0.14988,0.095618,0.065642,...,0.123260,0.06296,0.190130,0.166560,0.18835,0.18332,0.101120,0.083167,0.157730,0
4,0.26667,0.26453,0.26898,0.26678,0.25926,0.25875,0.19399,0.26071,0.169080,0.257440,...,0.099855,0.00000,0.061293,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0

In [24]:
print(dfadasyn.shape)
dfadasyn.to_csv('../F_Drug-Disease_Adasyn.csv', index=False)

(330369, 907)