In [2]:
import numpy as np
import pandas as pd

In [ ]:
# excel_file='Rivise data/DDI_triple_2.csv'
# drug=pd.read_csv(excel_file, header=None)
# df='data/drug_name_568.txt'
# DF=pd.read_csv(df, header=None)
d='CosineSNF(PhenotypeSim_ProteinSim).csv'
Drugsim=pd.read_csv(d, header=None)

diseasesim = pd.read_csv('CosineSNF(chemstractureSim_proteinSim_sideeffectSim).csv',header=None)

In [3]:
# ### Deleting missing Drugs
# druglist=[]
# mismatch=[]

# for j in range(len(D)):
#     druglist.insert(j,D.loc[j][0])
# for i in range(len(DF.loc[0])):
#     if not DF.loc[i][1] in (druglist):
#             print(i,DF.loc[i][1])
#             mismatch.insert(i,DF.loc[i][1])
#             DF=DF.drop([i])
#             drug=drug.drop([i],axis=0)
#             drug=drug.drop([i],axis=1)

In [4]:
# DF.to_csv("saved DF.csv",index=False)
DF = pd.read_csv("saved DF.csv", header=0)
# drug.to_csv('saved drug.csv',index=False)
drug = pd.read_csv('saved drug.csv', header=0)

In [5]:
finalmatrix=[]
for i in range(len(DF.iloc[:,0])):
    for j in range(len(DF.iloc[:,0])):
        result=[DF.loc[i][0],DF.loc[j][0],drug.loc[i][j]]
#         print(result)
        finalmatrix.append(result)
del drug

In [6]:
# finalmatrix

In [7]:
F = pd.DataFrame(finalmatrix)
F.to_csv("saved F_pairs.csv",index=False)
del finalmatrix

In [8]:
r, c = F.shape
print(r,c)
print(F.iloc[0,:])

322624 3
0    DB00115
1    DB00115
2          0
Name: 0, dtype: object

In [9]:
j = 0
for i in range(0, r, len(DF.iloc[:,0])):
    try:
        F = F.drop([i + j])
#         print(i)
    except:
        1
#         print(str(i)+ " can't be droped")
    j += 1
F.shape

(322056, 3)

In [10]:
r, c = F.shape
print(r,c)
# list(range(0, r, len(DF.iloc[:,0])))
F.iloc[0,:]

322056 3

0    DB00115
1    DB00130
2          0
Name: 1, dtype: object

In [11]:
# D.set_index(0)

In [12]:
# F[0].map(D.set_index(0)[1])

In [13]:
for k in range(1, len(D.iloc[0,:])):
    F[k + 2]=F[0].map(D.set_index(0)[k])
    k += 1

for k in range(1, len(D.iloc[0,:])):
    F[k + len(D.iloc[0,:]) + 3]=F[1].map(D.set_index(0)[k])
    k += 1
del D
del DF

In [14]:
F.shape

(322056, 1139)

In [15]:
F.to_csv("../../saved F(triple_cosineSNF)_rivised.csv",index=False)

In [16]:
del F

## seperating 1 and -1 from whole data

In [ ]:
import pandas as pd

In [18]:
F = pd.read_csv("../../saved F(triple_cosineSNF)_rivised.csv")

In [19]:
print(F.shape)
F.head()

(322056, 1139)

,0,1,2,3,4,5,6,7,8,9,...,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140
0,DB00115,DB00130,0,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,...,0.001595,0.001615,0.001657,0.001689,0.001606,0.001651,0.001613,0.001657,0.001611,0.001602
1,DB00115,DB00136,0,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,...,0.001616,0.001607,0.001619,0.002201,0.001610,0.002125,0.002078,0.001598,0.001643,0.001603
2,DB00115,DB00153,0,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,...,0.001598,0.001646,0.001726,0.002786,0.001594,0.002029,0.002060,0.001631,0.001598,0.001635
3,DB00115,DB00158,0,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,...,0.001692,0.001592,0.001666,0.001667,0.001591,0.001575,0.001588,0.001675,0.001594,0.001637
4,DB00115,DB00162,0,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,...,0.001620,0.001622,0.001777,0.002357,0.001600,0.001918,0.001962,0.001606,0.001590,0.001616

In [20]:
tripleData = F[F.iloc[:,2]!=0]

In [21]:
tripleData.to_csv('../../triple_cosineSNF(-1and1)_rivised.csv',index=False)
del tripleData

In [22]:
tripleData = F[F.iloc[:,2]==0]
del F

In [23]:
tripleData.shape

(43110, 1139)

In [24]:
tripleData.to_csv('../../triple_cosineSNF(zeros)_rivised.csv',index=False)
del tripleData