In [2]:
import numpy as np
import pandas as pd

In [5]:
# excel_file='Rivise data/DDI_triple_2.csv'
# drug=pd.read_csv(excel_file, header=None)
# df='data/drug_name_568.txt'
# DF=pd.read_csv(df, header=None)
d='data/Drug disease/Drug_CosineSNF(chemstractureSim_proteinSim_sideeffectSim).csv'
Drugsim=pd.read_csv(d, header=None)
print(Drugsim.shape)

Diseasesim = pd.read_csv('data/Drug disease/Disease_CosineSNF(PhenotypeSim_ProteinSim).csv', 
                         header=None)
print(Diseasesim.shape)

# Drugs_disease_interaction = pd.read_csv('C-drug-disease interactions.txt',sep = '\t', header=None)
# # print(Drugs_disease_interaction.head())

(708, 708)
(5603, 5603)

In [3]:
# ### Deleting missing Drugs
# druglist=[]
# mismatch=[]

# for j in range(len(D)):
#     druglist.insert(j,D.loc[j][0])
# for i in range(len(DF.loc[0])):
#     if not DF.loc[i][1] in (druglist):
#             print(i,DF.loc[i][1])
#             mismatch.insert(i,DF.loc[i][1])
#             DF=DF.drop([i])
#             drug=drug.drop([i],axis=0)
#             drug=drug.drop([i],axis=1)

In [8]:
# # Drugs_disease_interaction.iloc[1:,0].to_csv("saved Diseasename.csv",index=False)
# Diseasename = pd.read_csv("saved Diseasename.csv", header=0)

# # Drugs_disease_interaction.iloc[0,1:].to_csv("saved Drugname.csv",index=False)
# Drugname = pd.read_csv("saved Drugname.csv", header=0)

# Drugs_disease_interaction.iloc[1:,1:].to_csv('saved drug.csv',index=False)
drug_disease_int = pd.read_csv('data/Drug disease/disease_drug_interaction.csv', header=None)
drug_disease_int.shape

# Drugsim.insert(0, "-1", Drugname.values)
# Diseasesim.insert(0, "-1", Diseasename.values)


# print(Drugname.shape)
# print(Diseasename.shape)
# print(drug.head())

(5603, 708)

In [9]:
finalmatrix=[]
for i in range(len(drug_disease_int.iloc[:,0])):
    for j in range(len(drug_disease_int.iloc[0,:])):
        result = [drug_disease_int.loc[i][j]]
#         print(result)
        finalmatrix.append(result)

In [10]:
len(finalmatrix)

3966924

In [11]:
del drug_disease_int

In [12]:
pd.DataFrame(finalmatrix).to_csv("saved F_pairs.csv",index=False)
del finalmatrix

In [13]:
F = pd.read_csv("saved F_pairs.csv")
F

         0
0        1
1        1
2        1
3        1
4        1
...     ..
3966919  0
3966920  0
3966921  0
3966922  0
3966923  0

[3966924 rows x 1 columns]

In [14]:
# r, c = F.shape
# print(r,c)
# print(F.iloc[0,:])

In [15]:
# j = 0
# for i in range(0, r, len(DF.iloc[:,0])):
#     try:
#         F = F.drop([i + j])
# #         print(i)
#     except:
#         1
# #         print(str(i)+ " can't be droped")
#     j += 1
# F.shape

In [16]:
r, c = F.shape
print(r,c)
# list(range(0, r, len(DF.iloc[:,0])))
F.iloc[0,:]

3966924 1

0    1
Name: 0, dtype: int64

In [17]:
print(Drugsim.shape, Diseasesim.shape)

(708, 708) (5603, 5603)

In [18]:
Drugsim

,0,1,2,3,4,5,6,7,8,9,...,698,699,700,701,702,703,704,705,706,707
0,0.680785,0.000423,0.001465,0.001348,0.001128,0.002304,0.001546,0.001707,0.001101,0.001101,...,0.001435,0.000555,0.000880,0.000734,0.002787,0.001126,0.001164,0.000354,0.000392,0.001535
1,0.000423,0.792566,0.000335,0.000369,0.000374,0.000416,0.000368,0.000335,0.000351,0.000407,...,0.000284,0.000317,0.001566,0.000632,0.000338,0.000462,0.000351,0.000364,0.000381,0.000433
2,0.001465,0.000335,0.612446,0.006083,0.001076,0.000852,0.000792,0.010093,0.001325,0.000920,...,0.001065,0.000413,0.000852,0.000566,0.008678,0.000909,0.000996,0.001713,0.006801,0.003592
3,0.001348,0.000369,0.006083,0.576294,0.001036,0.001581,0.000931,0.007096,0.001353,0.001005,...,0.004175,0.000426,0.001001,0.000589,0.006026,0.000989,0.000973,0.002732,0.005313,0.014506
4,0.001128,0.000374,0.001076,0.001036,0.576843,0.000956,0.001219,0.000988,0.001883,0.003689,...,0.001113,0.000672,0.000836,0.001016,0.001092,0.002430,0.002213,0.000517,0.000716,0.001025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,0.001126,0.000462,0.000909,0.000989,0.002430,0.000979,0.001057,0.000875,0.001701,0.002965,...,0.001097,0.000707,0.001014,0.001302,0.000961,0.578631,0.001662,0.000539,0.000511,0.001016
704,0.001164,0.000351,0.000996,0.000973,0.002213,0.001246,0.001947,0.000910,0.001736,0.002087,...,0.001415,0.000710,0.000786,0.000914,0.001003,0.001662,0.578789,0.000483,0.000538,0.001071
705,0.000354,0.000364,0.001713,0.002732,0.000517,0.000352,0.000397,0.001807,0.000548,0.000552,...,0.000449,0.000367,0.000328,0.000664,0.001751,0.000539,0.000483,0.752985,0.001997,0.001127
706,0.000392,0.000381,0.006801,0.005313,0.000716,0.000340,0.000392,0.006765,0.000485,0.000532,...,0.000476,0.000465,0.000287,0.000681,0.006909,0.000511,0.000538,0.001997,0.650544,0.001036
707,0.001535,0.000433,0.003592,0.014506,0.001025,0.001846,0.001079,0.004110,0.001559,0.001047,...,0.004491,0.001043,0.001078,0.000765,0.003304,0.001016,0.001071,0.001127,0.001036,0.588170

In [19]:
708 * 5603

3966924

In [17]:
# F =F.iloc[:,:3]
# F

In [18]:
# print(len(Drugsim.iloc[0,:]),len(Diseasesim.iloc[0,:]))

In [19]:
# for k in range(len(Drugsim.iloc[0,:])-1):
#     F[k + 1] = F['1'].map(Drugsim.set_index('-1')[k])
#     k += 1
# print(F.shape)
# # F

/tmp/ipykernel_51937/680173568.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  F[k + 3] = F['1'].map(Drugsim.set_index('-1')[k])

(271167, 666)

In [ ]:
for k in range(len(Drugsim.iloc[0,:])-1):
    F[k + 1] = F['1'].map(Drugsim.set_index('-1')[k])
    k += 1
print(F.shape)
# F

In [20]:
# for k in range(len(Diseasesim.iloc[0,:])-1):
#     F[k + len(Drugsim.iloc[0,:]) + 3] = F['0'].map(Diseasesim.set_index('-1')[k])
#     k += 1

/tmp/ipykernel_51937/3706317571.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  F[k + len(Drugsim.iloc[0,:]) + 3] = F['0'].map(Diseasesim.set_index('-1')[k])

In [ ]:
for k in range(len(Diseasesim.iloc[0,:])-1):
    F[k + len(Drugsim.iloc[0,:]) + 3] = F['0'].map(Diseasesim.set_index('-1')[k])
    k += 1

In [21]:
print(F.shape)
F

(271167, 1075)

,0,1,2,3,4,5,6,7,8,9,...,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075
0,D102100,DB00014,0,1.00000,0.44574,0.25000,0.52140,0.27515,0.05046,0.17621,...,0.030720,0.143010,0.0,0.0,0.0,0.00000,0.00000,0.094405,0.12665,0.0
1,D102100,DB00035,0,0.44574,1.00000,0.28249,0.63184,0.20779,0.05732,0.28302,...,0.030720,0.143010,0.0,0.0,0.0,0.00000,0.00000,0.094405,0.12665,0.0
2,D102100,DB00091,0,0.25000,0.28249,1.00000,0.33880,0.14734,0.15278,0.30108,...,0.030720,0.143010,0.0,0.0,0.0,0.00000,0.00000,0.094405,0.12665,0.0
3,D102100,DB00104,0,0.52140,0.63184,0.33880,1.00000,0.24138,0.06358,0.18717,...,0.030720,0.143010,0.0,0.0,0.0,0.00000,0.00000,0.094405,0.12665,0.0
4,D102100,DB00115,0,0.27515,0.20779,0.14734,0.24138,1.00000,0.02730,0.09976,...,0.030720,0.143010,0.0,0.0,0.0,0.00000,0.00000,0.094405,0.12665,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271162,D608907,DB08835,0,0.26407,0.37126,0.41748,0.30000,0.15777,0.14865,0.38202,...,0.028113,0.039185,0.0,0.0,0.0,0.23197,0.21154,0.158720,0.00000,1.0
271163,D608907,DB08896,0,0.20000,0.17814,0.10053,0.17939,0.15914,0.06522,0.10778,...,0.028113,0.039185,0.0,0.0,0.0,0.23197,0.21154,0.158720,0.00000,1.0
271164,D608907,DB08901,0,0.21779,0.15172,0.11062,0.20137,0.20497,0.04396,0.07042,...,0.028113,0.039185,0.0,0.0,0.0,0.23197,0.21154,0.158720,0.00000,1.0
271165,D608907,DB08906,0,0.18076,0.17931,0.16143,0.21212,0.19433,0.03125,0.12919,...,0.028113,0.039185,0.0,0.0,0.0,0.23197,0.21154,0.158720,0.00000,1.0
271166,D608907,DB08907,0,0.21341,0.20504,0.10526,0.22569,0.20455,0.03804,0.12255,...,0.028113,0.039185,0.0,0.0,0.0,0.23197,0.21154,0.158720,0.00000,1.0

In [22]:
del Diseasename
del Drugsim
del Drugname
del Diseasesim

In [23]:
F.shape

(271167, 1075)

In [24]:
F.to_csv("../saved F(Drug-Disease).csv",index=False)

In [49]:
# del F

In [50]:
1072/16

67.0

In [27]:
# F.head()

,0,1,2,3,4,5,6,7,8,9,...,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075
0,D102100,DB00014,0,1.00000,0.44574,0.25000,0.52140,0.27515,0.05046,0.17621,...,0.03072,0.14301,0.0,0.0,0.0,0.0,0.0,0.094405,0.12665,0.0
1,D102100,DB00035,0,0.44574,1.00000,0.28249,0.63184,0.20779,0.05732,0.28302,...,0.03072,0.14301,0.0,0.0,0.0,0.0,0.0,0.094405,0.12665,0.0
2,D102100,DB00091,0,0.25000,0.28249,1.00000,0.33880,0.14734,0.15278,0.30108,...,0.03072,0.14301,0.0,0.0,0.0,0.0,0.0,0.094405,0.12665,0.0
3,D102100,DB00104,0,0.52140,0.63184,0.33880,1.00000,0.24138,0.06358,0.18717,...,0.03072,0.14301,0.0,0.0,0.0,0.0,0.0,0.094405,0.12665,0.0
4,D102100,DB00115,0,0.27515,0.20779,0.14734,0.24138,1.00000,0.02730,0.09976,...,0.03072,0.14301,0.0,0.0,0.0,0.0,0.0,0.094405,0.12665,0.0

In [25]:
df = F

In [ ]:
# OverSampling
from imblearn.over_sampling import RandomOverSampler


# Dividing the data into X and Y
X=df.drop('2',axis=1)
y=df['2']

oversample = RandomOverSampler(sampling_strategy='minority')
X_oversample, y_oversample = oversample.fit_resample(X, y)

In [ ]:
y_over.value_counts()

In [ ]:
df=pd.concat([X_over, y_over], axis=1)
df.shape

In [ ]:
df.to_csv('../Actual Data_BalanceData_oversampling.csv', index=False)
del df

In [ ]:
#smote
from imblearn.over_sampling import SMOTE
smote_sampler = SMOTE(random_state=42)
X_smote , y_smote = smote_sampler.fit_resample(X,y)
X_smote.shape

In [ ]:
y.value_counts()

In [ ]:
X_smote= pd.DataFrame(X_smote)
y_smote= pd.DataFrame(y_smote)
y_smote.value_counts()

In [ ]:
dfsmote=pd.concat([X_smote, y_smote], axis=1)
dfsmote.to_excel('../Actual Data_BalanceData_SMOTE.xlsx', index=False)
del dfsmote

In [ ]:
# ADASYN
from imblearn.over_sampling import ADASYN
X_adasyn, y_adasyn = ADASYN().fit_resample(X, y)
del X
X_adasyn= pd.DataFrame(X_adasyn)
y_adasyn= pd.DataFrame(y_adasyn)
y_adasyn.value_counts()

In [ ]:
X_adasyn.shape

In [ ]:
dfadasyn=pd.concat([X_adasyn, y_adasyn], axis=1)

In [ ]:
dfadasyn.to_excel('../Actual Data_BalanceData_Adasyn.xlsx', index=False)