In [1]:
import pandas as pd
import numpy as np
import random

In [6]:
def reduceList( DrugPairs):
#     print(dPairs.head())
    i = 0
    newList = []
    seenList = []
    while i < len(DrugPairs.iloc[:,0]):
        d1, d2 = DrugPairs.iloc[i][1], DrugPairs.iloc[i][2]
        buf = DrugPairs[DrugPairs[1]==d2][DrugPairs[2]==d1]
#         print(buf)
        if len(buf) == 1 and (i not in seenList) and (list(buf.index)[0] not in seenList):
            newList.append(i)
            newList.append(list(buf.index)[0])
            seenList.append(list(buf.index)[0])
            seenList.append(i)
        else:
            seenList.append(i)
        i += 1
    return newList

In [7]:
data = pd.read_csv('triple_cosineSNF(zeros)_rivised.csv')

In [8]:
predict = pd.read_csv('predict_(-1 and +1 model)all_rivised.csv')
predict.head()

          0         1
0  0.647980  0.487343
1  0.538810  0.520896
2  0.447698  0.548350
3  0.619128  0.179429
4  0.049359  0.785544

In [9]:
zeroList = list(predict[predict['0']<0.2][predict['1']<0.2].index)
len(zeroList)

/home/amin/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

42337

In [10]:
probZeroDrug = data.iloc[zeroList,:]
probZeroDrug.head()
print(probZeroDrug.shape)

(42337, 1139)

In [11]:
probZeroDrug.iloc[:,0:3].to_csv('probZeroDrugpairs_rivised.csv',header = False)
drugsPairs = pd.read_csv('probZeroDrugpairs_rivised.csv',header=None)
r, c = drugsPairs.shape
print(r, c)
drugsPairs.head()

42337 4

     0        1        2  3
0   42  DB00115  DB00262  0
1   77  DB00115  DB00351  0
2  112  DB00115  DB00417  0
3  119  DB00115  DB00426  0
4  149  DB00115  DB00499  0

In [12]:
newList = reduceList(drugsPairs.copy())
# print(newDegList)
len(newList)

/home/amin/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

33280

In [13]:
probZeroDrug.iloc[newList,:].to_csv('probZeroDrugBothPair_.2_.2_revised.csv',index=False)

In [14]:
probZeroDrugBothPair = pd.read_csv('probZeroDrugBothPair_.2_.2_revised.csv')

In [15]:
drugsPairs = probZeroDrugBothPair.iloc[:,0:3]
r, c = drugsPairs.shape
print(r, c)
drugsPairs.head()

33280 3

         0        1  2
0  DB00115  DB00351  0
1  DB00351  DB00115  0
2  DB00115  DB00499  0
3  DB00499  DB00115  0
4  DB00115  DB00518  0

In [16]:
indexes = []
bufpairs = []
for i in range(int(10000)):
    candInd = np.random.randint(r/2)

    while (int(2 * candInd) in indexes):
        candInd = np.random.randint(r/2)
    indexes.append(int(2 * candInd))
    indexes.append(int(2 * candInd + 1))

print(len(indexes))

20000

In [17]:
drugsPairs.iloc[indexes,:]

             0        1  2
646    DB00165  DB01215  0
647    DB01215  DB00165  0
29612  DB01073  DB01576  0
29613  DB01576  DB01073  0
9432   DB00417  DB00700  0
...        ...      ... ..
14303  DB01046  DB00523  0
13086  DB00492  DB01060  0
13087  DB01060  DB00492  0
11846  DB00455  DB00990  0
11847  DB00990  DB00455  0

[20000 rows x 3 columns]

In [58]:
# index = drugsPairs.values[:,0]
# random.shuffle(index)
# drugsPairsShuffled =  drugsPairs.iloc[index]

In [18]:
checked = False
problems = []
i = 0
while(i +1 < len(indexes)):

    if (drugsPairs.iloc[indexes[i],0]==drugsPairs.iloc[indexes[i+1],1])and(drugsPairs.iloc[indexes[i],1]==drugsPairs.iloc[indexes[i+1],0]):
        i += 2

    else:        
        problems.append([i,drugsPairs.iloc[i,:]])

        del indexes[i]

len(problems)

0

In [19]:
probZeroDrug.iloc[indexes,:].to_csv('probZeroDrug20000_.2_.2_revised.csv',index=False)

In [20]:
probZeroDrug.iloc[indexes,:].iloc[:18000,:].to_csv('probZeroDrugTrain_revised.csv',index=False)

In [21]:
probZeroDrug.iloc[indexes,:].iloc[18000:,:].to_csv('probZeroDrugTest_revised.csv',index=False)